In [1]:
from datasets import load_dataset
import pandas as pd

In [2]:
dataset = load_dataset("kandisravya/expenses")

README.md:   0%|          | 0.00/24.0 [00:00<?, ?B/s]

C:\Users\spand_4ckp2h9\OneDrive\Documents\personal-finance-tracker\backend\venv\lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\spand_4ckp2h9\.cache\huggingface\hub\datasets--kandisravya--expenses. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

synthetic_income_expense_data.csv: 0.00B [00:00, ?B/s]

Generating train split:   0%|          | 0/552 [00:00<?, ? examples/s]

In [3]:
df = pd.DataFrame(dataset['train'])

In [4]:
print(df.head())

         Date             Category    Subcategory           Description  \
0  2024-01-01  Savings/Investments     Retirement   401(k) contribution
1  2024-01-01                 Food     Dining Out  Dinner at McDonald's
2  2024-01-01       Transportation           Fuel   Gas station fill-up
3  2024-01-02           Healthcare  Doctor Visits   Dentist appointment
4  2024-01-02        Miscellaneous         Travel         Hotel booking

   Amount    Income
0   95.69  16246.26
1  200.00  19142.03
2  148.39  92054.33
3  260.31   7418.27
4  257.96  52220.08

In [5]:
df = df.drop(columns=["Subcategory", "Income"])

In [6]:
print(df.isnull().sum())

Date           0
Category       0
Description    0
Amount         0
dtype: int64

In [7]:
df["Description"] = df["Description"].str.lower().str.strip()

In [8]:
df["Category"] = df["Category"].str.strip()

In [9]:
df["Date"] = pd.to_datetime(df["Date"])

df["DayOfWeek"] = df["Date"].dt.day_name()
df["Month"] = df["Date"].dt.month_name()

df = df.drop(columns=["Date"])

In [10]:
print("Unique Categories:", df["Category"].unique())
print("Number of Categories:", df["Category"].nunique())

Unique Categories: ['Savings/Investments' 'Food' 'Transportation' 'Healthcare'
 'Miscellaneous' 'Housing' 'Entertainment' 'Income' 'Shopping' 'Personal'
 'Debt Payments' 'Education']
Number of Categories: 12

In [11]:
df = df[df["Category"] != "Income"]

In [12]:
df.head()

              Category           Description  Amount DayOfWeek    Month
0  Savings/Investments   401(k) contribution   95.69    Monday  January
1                 Food  dinner at mcdonald's  200.00    Monday  January
2       Transportation   gas station fill-up  148.39    Monday  January
3           Healthcare   dentist appointment  260.31   Tuesday  January
4        Miscellaneous         hotel booking  257.96   Tuesday  January

In [13]:
df.to_csv("transactions.csv", index=False)